@import "variables";

body {
  padding: 0;
  margin: 0;
  background-color: $body-bg;
  min-height: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  color: $text-color;
  line-height: 1.0;

}

a {
  &:hover, &:visited, a:active, &:focus {
    text-decoration: none;
  }
}

.z-a {
  > [class*="icon-"] {
    margin-right: 5px;
  }
  &[disabled] {
    color: $text-disabled-color;
  }
}

.custom-div {
  //background-color: #FFFFFF;
  margin: 0px 0px;
  border: none;
}

.div-mark {
  position: absolute;
  border: 2px solid red;
  @include border-radius(10px);
}

.comment-div {
  color: red;
}

$use-mozilla-ellipsis-binding: true;
.text-ellipsis {
  @include ellipsis();
}

.z-html {
  color: $text-color;
  line-height: 20px;
}

::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3)
}

//::-webkit-scrollbar        滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。
//::-webkit-scrollbar-button      滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
//::-webkit-scrollbar-track         外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。
//::-webkit-scrollbar-track-piece        内层轨道，滚动条中间部分（除去）。
//::-webkit-scrollbar-thumb               滚动条里面可以拖动的那部分
//::-webkit-scrollbar-corner               边角
//::-webkit-resizer                       定义右下角拖动块的样式

//@-moz-document url-prefix() {
//  .your-translated-element {
//    transform: none;
//  }
//}

