.z-label {
  white-space: pre-wrap;
}

.login-title {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 15px;
  padding-bottom: 5px;
}

.logo-text {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.label-form {
  text-align: left;
  //width: 50px;
}

.label-index {
  color: $btn-success-bg;
  font-weight: 700;
}

.label-require {
  color: #69AA46;
  font-weight: 700;
}

