@import "variables";

.z-select {
  font-family: Arial, Sans-serif;
  font-size: 12px;
  border-color: #e6e6e6;
  background: #fafafa;
  min-height: 24px;
}

.z-listbox {
  border: 1px solid #ececec;;
  .z-listheader-content, .z-listhead-bar {
    position: relative;
    line-height: $listbox-header-height;
    font-size: $listbox-header-font-size;
    color: $listbox-color;
    background-color: lightgrey;
    padding: 0 $listbox-cell-padding 0 $listbox-cell-padding;;
    overflow: hidden;
  }
}

.z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
  font-size: $listbox-font-size;
  padding: 0 $listbox-cell-padding 0 $listbox-cell-padding;
  color: $listbox-color;
  line-height: $listbox-line-height;
  overflow: hidden;
}

.z-listheader-checkable, .z-listitem-checkable {
  @include border-radius($listbox-checkbox-border-radius);
  display: inline-block;
  width: $listbox-checkbox-width;
  height: $listbox-checkbox-height;
  border: 1px solid $listbox-checkbox-border;
  background: $listbox-checkbox-bg;
  vertical-align: middle;
}

.z-listbox-odd.z-listitem {
  background: transparent none;
}

.z-listitem {
  background: transparent none;
  &:hover
  .z-listcell {
    background: $default;
    .z-listcell-content {
      color: #ffffff !important;
    }
  }
}

.z-listitem-selected {
  .z-listcell {
    background: $default !important;
    .z-listcell-content {
      color: #ffffff !important;
    }
  }
}






